.chemo {
	background-color: blue;
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}
.Lamazo {
	background-color: Red;
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}
.me {
   font-family: "Anton SC", sans-serif;
}