.chemo {
	background-color: blue;
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}
.Lamazo {
	background-color: Red;
	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}
.me {
	.roboto-black-italic {
  	font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
}
}